<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Travels</title>
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
              crossorigin="anonymous">
    </head>

    <body>
        <div class="'container">
            <!-- bargain rows -->
            <div class="row justify-content-center">
                <div class="col-10 col-md-6">
                    <h3 style="text-align: center;">Bargains</h3>
                    <hr style="margin: 0px 0px 15px 0px">
                </div>
            </div>
            <div class="row justify-content-center">
                {% for route in bargain['routes'] %}
                    {% if route[3] %}
                        <div class="col-5 col-md-3">
                            <div class="card">
                                <div class="card-body" style="text-align: center;">
                                    <h4>{{ route[0] }}</h4>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Bargain check: {{ bargain['current_date'] }}</li>
                                        <li class="list-group-item">Average price: {{ route[1] }}</li>
                                        <li class="list-group-item"><b>Current price: {{ route[2] }}</b></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="row" style="margin: 15px 0px"></div>

            <!-- data rows -->
            <div class="row justify-content-center">
                <div class="col-10 col-md-6">
                    <h3 style="text-align: center;">All results</h3>
                    <hr style="margin: 0px 0px 15px 0px">
                    <select id="select_filter" class="form-select" onchange="reload(this)"></select>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 col-md-6">
                    <table class="table table-sm table-striped table-bordered border-dark"
                           style="margin: 15px 0px; max-height: 500px; overflow: scroll; text-align: center;">
                        <thead style="background-color: #729367;">
                            <tr id="table_head"></tr>
                        </thead>
                        <tbody id="table_body"></tbody>
                    </table>
                </div>
            </div>

        </div>
    </body>
    <script src="{{ url_for('static', filename='sync.js') }}"></script>
    <script>
        externalOperator({{ df|tojson }}, 'all');
        reload = (element) => {
            var val = element.value
            externalOperator({{ df|tojson }}, val)
        }
    </script>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous">
    </script>
</html>